* {
  margin: 0;
  padding: 0;
}
body {
  background: url(./assets/img/background.jpg);
  font-family: 'Montserrat';
}
.wrapper {
  width: 1440px;
  overflow: hidden;
  margin: 0 auto;
}
.content__container {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}
.slider__container {
  width: 500%;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.image {
  display: block;
  width: 20%;
  height: 100%;
  transition: all 1s ease;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text__container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 70%;
  height: auto;
  align-items: flex-start;
}
.text__slider {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  width: 500%;
}
.text__item {
  display: block;
  width: 100%;
  font-size: 30px;
  color: white;
  transition: all 1s ease;
  margin-right: 100%;
}
.control__container {
  margin-top: -5px;
  padding-top: 50px;
  width: 100%;
  height: 6em;
  background-color: #8963ba;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.slider__carousel {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
}
.carousel__item {
  width: 30px;
  height: 30px;
  background: #fff;
  cursor: pointer;
  border: 15px solid rgba(137, 99, 186, 1);
  border-radius: 50%;
}
.carousel__item:hover {
  background: #a59dbf;
  transition: all 0.5s ease;
}
.r {
  display: none;
}

#r1:checked ~ .slider__container .s1 {
  margin-left: 0;
}
#r2:checked ~ .slider__container .s1 {
  margin-left: -20%;
}
#r3:checked ~ .slider__container .s1 {
  margin-left: -40%;
}
#r4:checked ~ .slider__container .s1 {
  margin-left: -60%;
}
#r5:checked ~ .slider__container .s1 {
  margin-left: -80%;
}

#r1:checked ~ .control__container .text__container .text__slider .t1 {
  margin-left: 0;
}
#r2:checked ~ .control__container .text__container .text__slider .t1 {
  margin-left: -183%;
}
#r3:checked ~ .control__container .text__container .text__slider .t1 {
  margin-left: -296%;
}
#r4:checked ~ .control__container .text__container .text__slider .t1 {
  margin-left: -440%;
}
#r5:checked ~ .control__container .text__container .text__slider .t1 {
  margin-left: -610.5%;
}

#r1:checked ~ .control__container .slider__carousel .c1 {
  background: #4a3a7e;
}
#r2:checked ~ .control__container .slider__carousel .c2 {
  background: #4a3a7e;
}
#r3:checked ~ .control__container .slider__carousel .c3 {
  background: #4a3a7e;
}
#r4:checked ~ .control__container .slider__carousel .c4 {
  background: #4a3a7e;
}
#r5:checked ~ .control__container .slider__carousel .c5 {
  background: #4a3a7e;
}

@media (max-width: 450px) {
  .wrapper {
    width: 100%;
  }
  .content__container {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
  }
  .slider__container {
    width: 500%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }
  .text__container {
    margin-top: 10px;
    width: 100%;
    height: auto;
    align-items: flex-start;
  }

  .text__item {
    width: 100%;
    font-size: 11px;
  }
  .control__container {
    margin-top: -4px;
    padding-top: 10px;
    width: 100%;
    height: 4em;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .slider__carousel {
    width: 100%;
    gap: 5px;
    justify-content: center;
  }
  .carousel__item {
    width: 10px;
    height: 10px;
    border: 5px solid rgba(137, 99, 186, 1);
  }
  #r2:checked ~ .control__container .text__container .text__slider .t1 {
    margin-left: -195.5%;
  }
  #r3:checked ~ .control__container .text__container .text__slider .t1 {
    margin-left: -310.5%;
  }
  #r4:checked ~ .control__container .text__container .text__slider .t1 {
    margin-left: -461.5%;
  }
  #r5:checked ~ .control__container .text__container .text__slider .t1 {
    margin-left: -642.5%;
  }
}
